 <!-- Services Section -->
 <section class="services" id="services">
    <div class="container">
      <h2 class="text-center mb-5">Our Services</h2>
      <div class="row">
        <!-- <div class="col-md-4">
          <div class="service-card">
            <img
              src="assets/img/interior.jpg"
              alt="Interior Painting"
              class="img-fluid mb-4"
            />
            <h3>Interior Painting</h3>
            <p>
              Our skilled team brings a touch of artistry to your space,
              transforming it into a masterpiece. Explore our top-notch
              interior painting solutions, blending style and quality.
            </p>
            <a href="#gallery" class="btn btn-outline-primary"
              >See our Gallery</a
            >
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-card">
            <img
              src="assets/img/exterior.jpg"
              alt="Exterior Painting"
              class="img-fluid mb-4"
            />
            <h3>Exterior Painting</h3>
            <p>
              Our skilled team delivers precision and quality that lasts.
              Enhance curb appeal and protect your investment. Explore vibrant
              color options and durable finishes.
            </p>
            <a href="#gallery" class="btn btn-outline-primary"
              >See our Gallery</a
            >
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-card">
            <img
              src="assets/img/renovation.jpg"
              alt="Renovation"
              class="img-fluid mb-4"
            />
            <h3>Renovation</h3>
            <p>
              Transform your space with top-notch interior and exterior
              renovations! Our skilled team brings expertise to every project,
              ensuring superior results.
            </p>
            <a href="#gallery" class="btn btn-outline-primary"
              >See our Gallery</a
            >
          </div>
        </div> -->

        <div class="col-md-4">
          <div class="service-card">
            <img
              src="assets/pics/interior/f76124f5-67a3-438c-ae48-01e9e16ec204.jpg"
              alt="Interior Painting"
              class="img-fluid mb-4"
            />
            <h3>Interior Painting</h3>
            <p>
              Our skilled team brings a touch of artistry to your space,
              transforming it into a masterpiece. Explore our top-notch
              interior painting solutions, blending style and quality.
            </p>
            <button
              onclick="openModal('interior1.jpg', 'interior')"
              class="btn btn-outline-primary"
            >
              See our Gallery
            </button>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-card">
            <img
              src="assets/pics/exterior/2be43ab6-8a30-4bc0-843c-a1d979e363d9.jpg"
              alt="Exterior Painting"
              class="img-fluid mb-4"
            />
            <h3>Exterior Painting</h3>
            <p>
              Our skilled team delivers precision and quality that lasts.
              Enhance curb appeal and protect your investment. Explore vibrant
              color options and durable finishes.
            </p>
            <button
              onclick="openModal('exterior1.jpg', 'exterior')"
              class="btn btn-outline-primary"
            >
              See our Gallery
            </button>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-card">
            <img
              src="assets/img/renovation.jpg"
              alt="Renovation"
              class="img-fluid mb-4"
            />
            <h3>Renovation</h3>
            <p>
              Transform your space with top-notch interior and exterior
              renovations! Our skilled team brings expertise to every project,
              ensuring superior results.
            </p>
            <button
              onclick="openModal('renovation1.jpg', 'renovation')"
              class="btn btn-outline-primary"
            >
              See our Gallery
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
